.md-header-nav
{
    .md-flex__cell:first-of-type
    {
        vertical-align: middle;
    }

    .md-logo
    {
        padding: 0;
        margin: 0;

        img
        {
            width: 35px;
            height: 35px;
        }
    }
}

.md-nav
{
    .md-logo
    {
        width: auto !important;
        height: auto !important;

        img
        {
            width: 80px;
            height: 80px;
        }
    }
}