{% extends "base.html" %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ 'styles/colors.css' | url }}">
    <link rel="stylesheet" href="{{ 'styles/logo.css' | url }}">
    <link rel="stylesheet" href="{{ 'styles/copyright.css' | url }}">
    <link rel="stylesheet" href="{{ 'styles/article.css' | url }}">
    <link rel="stylesheet" href="{{ 'styles/contributors.css' | url }}">

{% endblock %}

{% block config %}
    {{ super() }}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(21621697, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/21621697" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

{% endblock %}

{% block content %}
    {{ super() }}

    {% if page.edit_url %}
        <div class="contributors" style="display: none;" data-url="{{ page.edit_url }}"></div>
        <script src="{{ 'scripts/contributors.js' | url }}"></script>
    {% endif %}

{% endblock %}