.contributors
{
    &--count
    {
        margin-left: 5px;
        font-size: 80%;
        color: #828282;
    }

    .contributors--list
    {
        display: flex;
        flex-wrap: wrap;

        list-style-type: none;
        margin-left: 0;
        margin-bottom: -10px;

        li
        {
            margin: 0;
            padding-bottom: 10px;

            &:not(:last-of-type)
            {
                padding-right: 10px;
            }

            img
            {
                display: block;
                border-radius: 3px;
            }
        }
    }
}